
<%= form_for(@profile) do |f| %>
  <div class="input">
    <%= f.label :Name %>
    <br>
    <%= f.text_field :Name %>
  </div>
  <div class="input">
    <%= f.label :Description %>
    <br>
    <%= f.text_area :Description %>
  </div>
  <div class="input">
    <%= f.label :Country %>
    <br>
    <%= f.text_field :Country %>
  </div>
  <div class="input">
    <%= f.label :Color %>
    <br>
    <%= f.text_field :Color %>
  </div>
  <div class="input">
      <%= f.label :Age %>
      <br>
      <%= f.number_field :Age %>
  </div>
  <div class="input">
      <%= f.label :Weight %>
      <br>
      <%= f.number_field :Weight %>
  </div>
  <div class="input">
      <%= f.label :Height %>
      <br>
      <%= f.number_field :Height %>
  </div>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>