<p id="notice" style="color:red;"><%= notice %></p>
<h1>List of Profiles</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Color</th>
      <th>Age</th>
      <th>Weight</th>
      <th>Height</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.Name %></td>
        <td><%= profile.Description %></td>
        <td><%= profile.Country %></td>
        <td><%= profile.Color %></td>
        <td><%= profile.Age %></td>
        <td><%= profile.Weight %></td>
        <td><%= profile.Height %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Profile', new_profile_path %>
<%= link_to "Reset all profiles", remove_all_profiles_path, :method => :get %>
<INPUT type="button" value="Display Graph" onClick="history.go(0)">
<%= content_tag :div, "", id: "profiles_chart", data:{profiles: @profiles}%>
